.game.playing {
    .cell.value-0 {
        cursor: pointer;

        &.player-1:hover {
            background-color: rgba(255, 0, 0, .5);
        }

        &.player-2:hover {
            background-color: rgba(0, 0, 255, .5);
        }
    }
}

.cell {
    height: 100px;
    width: 100px;
    box-sizing: border-box;
    background-color: darkgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;

    &.value-1 {
        color: red;
    }

    &.value-2 {
        color: blue;
    }
}
